body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact_add__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  display: block;
  margin-bottom: 10px;
}

.form__button {
  width: 100%;
}

.form__message {
  margin-block-start: 0em;
  display: flex;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.contacts__list_title,
.form__title {
  margin-left: auto;
  margin-right: auto;
}

.contacts__list_item {
  display: flex;
}

.contacts__list_item:not(:last-child) {
  margin-bottom: 10px;
}

.filterwrapper {
  display: flex;
  flex-direction: column;
}

.filter__delete_button {
  margin-right: 0;
  margin-left: auto;
}

.form__button_container {
  display: flex;
  align-items: center;
  height: 30px;
}
